*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Css Variable */
:root{
    --service-bg-color:rgba(39, 39, 39, 0.05);
    --defult-color:#ffffff;
    --hero-bg-color:rgba(228, 84, 115, 0.1);
    --hero-body-bg-color:rgba(229, 84, 115, 0.05);
    --primary-color:#272727;
    --primary-btn-color:#E55473;
    --pragraph-color:rgba(39, 39, 39, 0.6);
}
body{
    font-family: "Lato", sans-serif;
}

/* Sheard Class */
.container{
    width: 71%;
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.btn{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-btn-color);
    color: var(--defult-color);
}
.btn:hover{
    background-color: var(--primary-color);
    transition: 0.5s ease-in-out;
}
.f-image{
  border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 50px 50px 0 50px;
    background-color: rgba(167, 33, 98, 0.15);
    max-width: 310px;   
}
/* Main Style */

/* Navegation Related style */

.logo h2{
    font-size: 2rem;
    
}
.color-pink{
    color: var(--primary-btn-color);
}
/* header{
box-shadow: 0 4px 8px #dddddd37;
} */
#nav-content{
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    
}
#nav-content i {
    display: none;
}
#navMenu .list-item{
    gap: 40px;
    font-size: 1.25rem;
    font-weight: 600;
    
}
.list-item{
    justify-content: center;
}
.list-item li{
    list-style: none;
}
.list-item a {
    text-decoration: none;
    color: var(--primary-color);
}
.list-item a:hover{
    transition: 0.5s;
    color: var(--primary-btn-color);
}
/* Hero Body related style */
#banner{
    background-color: var(--hero-bg-color);
}
#banner-section{
    justify-content: space-between;
    align-items: center;
}
    
.banner-content{
    max-width: 708px;
}
.banner-content h1 {
    font-size: 4rem;
    font-weight: bolder; 
    margin-bottom: 30px ;
    color: var(--primary-color);
}
.banner-content p {
    font-size: 1rem;
    line-height: 1.5rem;
         margin-bottom: 30px;
    color: var(--pragraph-color);
}

 .banner-image {
    max-width: 635px;
 }
 .banner-image img{
    vertical-align: middle;
    width: 500px;
 }
/* Featured Section Related Style */
.featured-heading{
    max-width: 594px;
    margin-top: 150px;
    text-align: center;
}
    
.featured-heading h2{
    font-size: 2rem;
    margin-bottom: 24px;
    font-weight: bolder;
    color: var(--primary-color);
}
.featured-heading p {
    font-size: 1.25rem;
    margin-bottom: 48px;
    color: var(--pragraph-color);
}
/* Featured Image related style */

.featured-content{
    gap: 24px;
    /* margin-bottom: 1000px; */
}
 .featured-image .f-img{
    position: relative;
    bottom: -20px;

 } 

.featured-image img{
    width: 100%;
}
.bg-color{
    background-color: rgba(5, 151, 160, 0.15);
}
.bg-color1{
    background-color: rgba(71, 125, 17, 0.15);
}
.featured-card {
    
   text-align: center;
}

.featured-card .f-btn{
    /* margin-top: 50px; */
    margin: 50px 0 0 0;
}
.f-btn{
    background-color: transparent;
    border: 2px solid var(--primary-btn-color);
    color: var(--primary-color);
}
.f-btn:hover{
    background-color: var(--primary-btn-color);
    color: var(--defult-color);
}

/* Service Section related style */

.service-content{
    padding: 80px;
    background-color: var(--service-bg-color);
    border-radius: 8px;
    margin-bottom: 100px;
}
#service{
    margin: 128px 0 128px 0;
}
.service-box{
    gap: 100px;
    text-align: center;
}
.service-card img{
margin-bottom: 24px;
}
.service-card p{
    font-weight: 600;
font-size: 1rem;
color: var(--pragraph-color);
}

    /*  */
    
